.package-content {
    box-sizing: border-box;
    width: 100%;
    height: 100%;

    padding: 15px;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 15px;
}

.package {
    background-color: var(--color-page);
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 20px 30px;
}

.options{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
}

.options-btn {
    margin-bottom: 10px;
}

.options-filter {
    margin-top: 20px;
}

.btn-menu {
    min-width: 120px;
    margin-left: 10px;
}

.btn-icon {
    margin-right: 5px;
}

.filter-tipes {
    width: 100%;
}











.btn-add {
    margin-bottom: 5px;
}