form {
    display: grid;
    margin: auto;
}

.container {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cadastro-page {
    width: 600px;
    padding: 20px 30px;
}